<!DOCTYPE html>
<head>
   <title>Ambilight</title>
</head>

<body>
   <h1>Amblight</h1>

   {% for color in colors %}
   <p>The {{ colors[color].name }}
   Value <b>colors[color].value</b>
   
   <!--{% if pins[pin].state == true %}
      is currently on (<a href="/{{pin}}/off">turn off</a>)
   {% else %}
      is currently off (<a href="/{{pin}}/on">turn on</a>)
   {% endif %}-->
   </p>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>