<!DOCTYPE html>
<head>
   <title>Ambilight</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta charset="utf-8" />
</head>

<body>
   <h1>Amblight</h1>
   
   {% for color in colors %}
   <p>{{ color }}
   <br/>
   <input type = "range" min = "0" max = "255" value = "{{colors[color].value}}" step = "5" onchange = "update(this.value, '{{color}}')"/>
   </p>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}
<script>

function update(value, color)
{
    var req = new XMLHttpRequest();
    
    // Create the callback:
    req.onreadystatechange = function()
    {
        if (req.readyState != 4) return; // Not there yet
        if (req.status != 200) 
        {
        // Handle request failure here...
        return;
        }
    
     // Request successful, read the response
    var resp = req.responseText;
    // ... and use it as needed by your app.
    }
    req.open("GET", '/' + color + '/' + value);
    req.send();
    //location.reload();

}</script>
</body>
</html>